@import "tailwindcss";

html,
body {
  height: 100%;
}

/* Hii ndio inafanya Logo zitembee bila kusimama */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7)); } /* 7 ni idadi ya logo zetu x 250px upana */
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14); /* 14 ni idadi ya logo mara 2 ili zizunguke mzunguko kamili */
}

.animate-scroll:hover {
  animation-play-state: paused; /* Zinasimama ukiweka mouse juu yake */
}